<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="reps" class="spring_demo.HoundredService"/>

    <bean id="coach" class="spring_demo.VolleyballCoach" init-method="init" destroy-method="destroy" scope="prototype">
        <property ref="reps" name="someService"/>
    </bean>

</beans>





